/* purgecss start ignore */
@tailwind  base;
@tailwind  components;
/* purgecss end ignore */
@tailwind  utilities;
/*setting global font family*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap');
* {
    font-family: 'Montserrat', 'sans serif'
}
/* lets make font-size responsive */
html {
        font-size: 15px
    }
@screen md {
    html {
        font-size: 16px
    }
}
/* extending tailwindcss */
@responsive {
    .flex-center {
        @apply flex justify-center items-center;
    }
}